body, html {
    margin-bottom: 10px;
}
.App {
    text-align: center;
}

.frame {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
    color: rgb(0, 0, 0);
}

.frame-index {
    margin-top: 0;
    display: inline-block;
    z-index: 900;
    font-size: 22px;
    width: 50px;
    text-align: right;
}

.frame-cornerstone {
    margin: 0 0 auto;
    display: inline-block;
    font-size: 22px;
    border-right: 2px inset;
    border-bottom: 2px inset;
    z-index: 900;
    font-family: Trebuchet MS, monospace;
    font-weight: lighter;
    width: 50px;
    padding-bottom: 2px;
    text-align: center;
}

.frame-status {
    margin-top: 0;
    display: inline-block;
    text-align: center;

    width: 100%;
}